@import "~antd/dist/antd.css";
@import url(https://fonts.googleapis.com/css?family=Sacramento);

.ant-layout {
    background: none;
}

.default-layout {
    padding: 1em;
}

.ant-list-pagination {
    padding-bottom: 20px;
}

.app-header {
    display: flex;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}
.app-header__logo-search-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.app-header__search-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 10px;
}
.app-header__search-input .ant-input-group {
    border: 0;
    width: 100%;
    max-width: 460px;
}
.app-header__search-input .ant-input-group input {
    border: 1px solid #f0f1f2;
    box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.app-header__menu-section {
    float: right;
}
.app-header__menu-section > ul{ border: none; }

.home-skeleton .home-skeleton__news-img {
    margin-bottom: 1em;
    width: 100%;
    height: 200px;
}

.home-skeleton {
    padding: 5em 0;
}

.news-card {
    min-height: 385px;
}

.news-card .ant-card-body {
    min-height: 218px;
}

.news-card__news-image {
    height: 200px;
    background-size: cover;
}

.news-card__likes-display {
    cursor: default;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .default-layout {
        width: 1200px;
        margin: auto;
    }
}